<?xml version="1.0" encoding="utf-8"?>
<configuration><startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
   <configSections>
      <section name="seriesMapping" type="GuideEnricher.SeriesNameMapsSection, GuideEnricherService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
   </configSections>
   <!--
      This section allows you to create mappings from names in the 
      guide data (i.e., SchedulesDirect) to names in thetvdb.com.

      You need this because the names are not always equal.  It comes
      in handy for shows that have the same name a really old shows....
      Like Chase on NBC needs to have a mapping to Chase (2010) to help 
      this tool find the proper series.

      Use the logs to help debug.

      If a regular name mapping does not work, you can use thetvdb.com
      show ID as a direct map as shown with $..! My Dad Says below.

      Also, you can use regular expressions to handle schedulesDirectNaming
      problems for series names that occasionally have too much information 
      in it.  The third example shows the use of a regex to tvdb.com name.
      The fourth example shows using a regex to tvdb.com id

   -->
   <seriesMapping>
      <seriesMap schedulesDirectName="American Dad" tvdbComName="American Dad!" />
      <seriesMap schedulesDirectName="$..! My Dad Says" tvdbComName="id=164951" />
      <seriesMap schedulesDirectName="regex=Boston Leg.*" tvdbComName="Boston Legal" />
      <seriesMap schedulesDirectName="regex=Boston Lega.*" tvdbComName="id=74058" />
   
   </seriesMapping>
   <appSettings>
      <!-- Location to store cache of thetvdb.com data -->
      <add key="TvDbLibCache" value="c:\\tvdblibcache\\" />
      <!-- 
         serviceUrl:
         This is the url used for FTR to call teh guideenricher
         Make sure the port is not used by anything else... i.e.,
         if you have issues, try changing the port.
      -->
      <add key="serviceUrl" value="net.tcp://localhost:49830/GuideEnricher" />
      <!-- 
         how long the wait thread waits before doing a run of guide enricher 
         
       -->
      <add key="sleepTimeInHours" value="12" />
       <!--
         The next properties are used to build the
         URL to the FTR server
      -->
      <add key="ftrUrlHost" value="localhost" />
      <add key="ftrUrlPort" value="49942" />
      <!-- leave ftrUrlPassword blank if you don't use password -->
      <add key="ftrUrlPassword" value="" />
   </appSettings>
</configuration>