<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
		<section name="seriesMapping" type="GuideEnricher.SeriesNameMapsSection, GuideEnricherService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
	</configSections>

   <seriesMapping>
     <seriesMap schedulesDirectName="American Dad" tvdbComName="American Dad!" />
   
   </seriesMapping>
   
   <appSettings>
      <add key="TvDbLibCache" value="c:\\tvdblibcache\\" />
      <add key="serviceUrl" value="net.tcp://localhost:49830/GuideEnricher" />
      <add key="ftrUrlHost" value="localhost" />
      <add key="ftrUrlPort" value="49942" />
      <add key="ftrUrlPassword" value="" />
   
    </appSettings>
</configuration>
